<section>
{%- assign featuredBlogs = blogs[section.settings.blo-slider] -%}

  <div class="article-slider-wrapper">
    <div class="page-width slider-container">
      <div class="medium-up--four-twelfths article-slider-text">
        <h1>{{section.settings.label}}</h1>
        <p> {{section.settings.text}}</p>
      </div>
      <div class="article-slider-container">
        {% for article in featuredBlogs.articles limit: 3 %} 
        <div class="medium-up--one-third slider-card fade"> 
          <div class="article-slider-card">
            <a  href="{{ article.url }}" >
              <img class="image-border-radius" src="{{ article.image.src | img_url: '2048x'  }}">
              <h4 class="medium-header">{{article.title}}</h4>
            </a>
          </div>
        </div>
        {% endfor %}
        <div class="small-down-show slider-dots-container">
          {% for article in featuredBlogs.articles limit: 3 %}
            <span class="dot" onclick="currentSlide({{ forloop.index }})"></span> 
          {% endfor %}
        </div>
      </div>
    </div>
  </div>


  <script>
    var slideIndex = 1;

    if(window.innerWidth < 1000 ){
      showSlides(slideIndex);
    }

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function setupSlider(){
      if(window.innerWidth < 1000 ){
        showSlides(slideIndex);
      }else{
        showCards();
      }
    }

    function showCards(){
      var slides = document.getElementsByClassName("slider-card");
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "block";  
      }
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slider-card");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" dot-active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " dot-active";
    }

    window.onresize = setupSlider;
  </script>

</section>

{% schema %}
  {
    "name": "Blog Slider",
    "settings": [
      {
        "id": "blo-slider",
        "type": "blog",
        "label": "Select a blog collection"
      },
      {
        "id": "label",
        "type": "text",
        "label": "Label",
        "default": "Artiklar och Recensioner",
        "info": "Label for section",
        "placeholder": "Artiklar och Recensioner"
      },
      {
        "id": "text",
        "type": "textarea",
        "default": "Här finns recensioner på alla våra produkter samt artiklar om hur du tar hand om din hud.",
        "label": "Text below label"
      }
    ]
  }
{% endschema %}