<div class="cart-template page-width{% if cart.items.size == 0%} cart--empty{% endif %}" 
data-section-id="{{ section.id }}" data-section-type="cart-template" data-cart-token="{{ cart.id }}">


  <div class="cart-header text-center">
    <h1 class="">{{ 'cart.general.title' | t }}</h1>
  </div>





  {% comment %}
  Cart no cookies state
  
  <div class="cart__no-cookies">
    <div class="cart-message text-center">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  </div>
  {% endcomment %}
  
  {% comment %}
  Cart Empty State
  
  <div class="cart__empty">
    <div class="cart-message text-center">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p><a href="{{ routes.all_products_collection_url }}" class="btn btn--primary">{{ 'cart.general.continue_browsing' | t }}</a></p>
    </div>
  </div>
  {% endcomment %}


  <form action="{{ routes.cart_url }}" method="post" novalidate class="cart__form">
    <table class="cart-table">
      <thead class="cart-table-head">
        <th class="text-left" colspan="2">Produkt</th>
        <th class="text-right">Pris</th>
        <th class="text-center">Antal</th>
        <th class="text-right">Totalt</th>
      </thead>

      <tbody data-cart-item-list>

        {% comment %}
        If the cart has no items, then include a item element with a template class
        so that it is hidden but still available for use client-side by ajax-cart.js
        {% endcomment %}

        {%- assign cartItems = 'template ' | split: ' ' -%}
        {% if cart.items.size > 0 %}
          {%- assign cartItems = cart.items -%}
        {% endif %}

        {% for item in cartItems %}
          <tr class=" {% if item == 'template' %} ajax-cart__template{% endif %}" data-cart-item data-cart-item-id="{{ item.key }}">
            <td class="cart-item-image-wrapper">
              {% assign itemImage = true %}
              {% if item.image == blank and item.product.featured_image == blank %}
                {% assign itemImage = false %}
              {% endif %}
              <a class="" href="{{ item.url | within: collections.all }}"  data-cart-item-href>
                <img class="image-border-radius table-cart-image lazyload" src="{{ item | img_url: '648x' }}" alt="{{ item.title | escape }}" data-cart-item-image>
              </a>
            </td>

            <td class="cart-item-title">
              <div>
                <a href="{{ item.url }}" data-cart-item-href>
                <h4  data-cart-item-title  class="medium-header link-hover-underline xsmall-title">{{ item.product.title }}</h4>
                </a>
              </div>

              {% comment %}
              Optional, loop through custom product line items if available

              Line item properties come in as having two parts. The first part will be passed with the default form,
              but p.last is the actual custom property and may be blank. If it is, don't show it.

              For more info on line item properties, visit:
              - https://help.shopify.com/themes/customization/products/features/get-customization-information-for-products

              If the item has no properties, then include a property element with a template class
              so that it is hidden but still available for use client-side by ajax-cart.js
              {% endcomment %}

              {%- assign itemProperties = 'template ' | split: ' ' -%}
              {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {%- assign itemProperties = item.properties -%}
              {% endif %}

              <ul class="" >
                <li class="xsmall--hide" data-cart-item-property>150ml</li>
                <li data-cart-item-property class="xsmall--show"><span >{{ item.original_line_price | money }}</span></li>
                <li data-cart-item-property class="xsmall--show"><a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" 
                    class="xs-cart-item-remove" data-cart-item-delete>
                    {{ 'cart.general.remove' | t }}
              </a></li>
              </ul>

              <div class="">

                {%comment%}
                <div data-cart-item-price-container>
                  {%- if item.original_price != item.final_price -%}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <del class="cart-item__original-price">{{ item.original_price | money }}</del>
                    <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
                    <span class="order-discount cart-item__price">{{ item.final_price | money }}</span>
                  {%- else -%}
                    <span class="cart-item__original-price cart-item__price">{{ item.original_price | money }}</span>
                  {%- endif -%}
                  {%- if item.variant.available and item.unit_price_measurement -%}
                    {% include 'product-unit-price', variant: item, available: item.variant.available %}
                  {%- endif -%}
                </div>
                {%endcomment%}

                {% comment %}
                If the item has no discounts, then include a discount element with a template class
                so that it is hidden but still available for use client-side by ajax-cart.js
                {% endcomment %}

                {%- assign itemDiscounts = 'template ' | split: ' ' -%}
                {% if item.line_level_discount_allocations != blank %}
                  {%- assign itemDiscounts = item.line_level_discount_allocations -%}
                {% endif %}

                {%comment%}
                <ul class="" aria-label="{{ 'customer.order.discount' | t }}" data-cart-item-discount-list>
                  {%- for discount_allocation in itemDiscounts -%}
                    <li class="order-discount__item{% if discount_allocation == 'template' %} ajax-cart__template{% endif %}" data-cart-item-discount>
                      {%- include 'icon-saletag' -%}<span data-cart-item-discount-title>{{ discount_allocation.discount_application.title }}</span> (-<span data-cart-item-discount-amount>{{ discount_allocation.amount | money }}</span>)
                    </li>
                  {%- endfor -%}
                </ul>
                {%endcomment%}
              </div>
            </td>

            <td class="cart-item-price">
              <div data-cart-item-price-container>
                <span class="">{{ item.original_price | money }}</span>
              </div>
            </td>

            <td class="cart-item-quantity">
              <div class="product-quantity-input xs-quanitty-input-wrapper">
                <button data-cart-item-input-minus-btn id="{{ item.key }}" type="button" class="minus-icon xs-quantity-minus"></button>
                <input class="quantity" id="quantity_{{ item.key }}"
                 value="{{ item.quantity }}" type="number" pattern="\d*" 
                 min="1" name="updates[{{ item.key }}]" required data-cart-item-input-quantity>
                <button data-cart-item-input-plus-btn id="{{ item.key }}" type="button" class="plus-icon xs-quantity-plus"></button>
              </div>
            </td>

            <td class="cart-item-tot-price">
              <div class="cart-item-tot-rem" data-cart-item-line-price-container>
                <span class=" ">{{ item.original_line_price | money }}</span>
              </div>
              <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" 
                    class="cart-item-remove" data-cart-item-delete>
                    {{ 'cart.general.remove' | t }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <footer class="cart-footer">
      <div class="grid">

        <div class="">

          {% comment %}
          If the cart has no discount, then include a discount element with a template class
          so that it is hidden but still available for use client-side by ajax-cart.js
          {% endcomment %}

          {%- assign cartDiscounts = 'template ' | split: ' ' -%}
          {% if cart.cart_level_discount_applications.size > 0 %}
            {%- assign cartDiscounts = cart.cart_level_discount_applications -%}
          {% endif %}

          <div data-cart-discount-container>
            {%- for discount_application in cartDiscounts -%}
              <div class=" " data-cart-discount>
                <span class=" ">
                </span>
                <span class=" "><span data-cart-discount-amount>{{ discount_application.total_allocated_amount | money }}</span></span>
              </div>
            {%- endfor -%}
          </div>

          <div class="cart-submit-wrapper">
            <div class="cart-total-sum-container">
              <div class="cart-flex-column">
                <div class="cart-sum-text">
                  <span>Totalt: </span>
                  <span data-cart-subtotal>{{ cart.total_price | money }}</span>
                </div>
                <div class="cart-sum-text">
                  <span>Totalbelopp inkl. moms</span>
                </div>
              </div>
            </div>

            <div class="cart-total-sum-container">
              <button type="submit" name="checkout" class="cart-checkout-btn" data-cart-submit>
                Gå till kassa
              </button>
            </div>
          </div>
          <div class=" ">
            <div class=" " data-cart-message></div>
          </div>
        </div>
      </div>
    </footer>
  </form>
</div>

{% schema %}
{
  "name": {
    "cs": "Stránka košíku",
    "da": "Side med indkøbskurv",
    "de": "Warenkorb-Seite",
    "en": "Cart page",
    "es": "Página del carrito de compras",
    "fi": "Ostoskorisivu",
    "fr": "Page du panier",
    "hi": "कार्ट पेज",
    "it": "Pagina del carrello",
    "ja": "カートページ",
    "ko": "카트 페이지",
    "nb": "Handlekurvside",
    "nl": "Winkelwagenpagina",
    "pl": "Strona koszyka",
    "pt-BR": "Página do carrinho",
    "pt-PT": "Página do carrinho",
    "sv": "Varukorgssida",
    "th": "หน้าตะกร้าสินค้า",
    "tr": "Sepet sayfası",
    "vi": "Trang giỏ hàng",
    "zh-CN": "购物车页面",
    "zh-TW": "購物車頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": {
        "cs": "Povolit poznámky ke košíku",
        "da": "Aktivér bemærkninger til indkøbskurv",
        "de": "Warenkorbanmerkungen erlauben",
        "en": "Enable cart notes",
        "es": "Habilitar notas del carrito de compra",
        "fi": "Ota tilauskommentit käyttöön",
        "fr": "Activer les notes de panier",
        "hi": "कार्ट नोट्स सक्षम करें",
        "it": "Abilita note carrello",
        "ja": "カートメモを有効にする",
        "ko": "카트 참고 사항 사용",
        "nb": "Aktiver handlekurvmerknader",
        "nl": "Opmerkingen voor winkelwagen inschakelen",
        "pl": "Włącz uwagi dotyczące koszyka",
        "pt-BR": "Habilitar observações do carrinho",
        "pt-PT": "Ativar notas do carrinho",
        "sv": "Aktivera varukorgsmeddelanden",
        "th": "เปิดใช้หมายเหตุสำหรับตะกร้าสินค้า",
        "tr": "Sepet notlarını etkinleştir",
        "vi": "Bật ghi chú trong giỏ hàng",
        "zh-CN": "启用购物车备注",
        "zh-TW": "啟用購物車備註"
      },
      "default": true
    }
  ]
}
{% endschema %}
