<section>

<div class="three-steps-wrapper">
  <div class="flex-center">
    <h1 class="mobile-h1 text-center">{{ section.settings.header-text | escape }}</h1>
  </div>
  <div class="three-steps-page-width steps-container">

    <div class="three-step-card-container">
      <div class="three-step-card lazyload" style="background-image: url('{{ section.settings.image-1.src | img_url: '2048x'  }}');">
        <div class="three-steps-icon">
          {%render 'icon-wash-face', size: '64px'%}
        </div>
        <div class="three-steps-content-container">
          <h2 class="img-text-color mobile-h2">{{section.settings.text-1}}</h2>
          <a href="/collections/ansiktsrengoring">
            <button class="image-button three-steps-button">
              Till rengöring
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="three-step-card-container">
      <div class="three-step-card lazyload" style="background-image: url('{{ section.settings.image-2.src | img_url: '2048x'  }}');">
        <div class="three-steps-icon">
          {%render 'icon-star-face', size: '64px'%}
        </div>
        <div class="three-steps-content-container">
          <h2 class="img-text-color mobile-h2">{{section.settings.text-2}}</h2>
          <a href="/collections/ansiktskram">
            <button class="image-button three-steps-button">
              Till krämer
            </button>
          </a>
        </div>
      </div>
    </div>
    
    <div class="three-step-card-container">
      <div class="three-step-card lazyload" style="background-image: url('{{ section.settings.image-3.src | img_url: '2048x'  }}');">
        <div class="three-steps-icon">
          {%render 'icon-mask-face', size: '64px'%}
        </div>
        <div class="three-steps-content-container">
          <h2 class="img-text-color mobile-h2">{{section.settings.text-3}}</h2>
          <a href="/collections/ansiktsmask">
            <button class="image-button three-steps-button">
              Till masker
            </button>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

</section>

{% schema %}
  {
    "name": "Three Steps",
    "settings": [
      {
        "id": "image-1",
        "type": "image_picker",
        "label": "Image 1"
      },
      {
        "id": "image-2",
        "type": "image_picker",
        "label": "Image 2"
      },
      {
        "id": "image-3",
        "type": "image_picker",
        "label": "Image 3"
      },
      {
        "id": "text-1",
        "type": "textarea",
        "default": "Something",
        "label": "Text for image 1"
      },
      {
        "id": "text-2",
        "type": "textarea",
        "default": "Something",
        "label": "Text for image 2"
      },
      {
        "id": "text-3",
        "type": "textarea",
        "default": "Something",
        "label": "Text for image 3"
      },
      {
        "id": "header-text",
        "type": "text",
        "label": "Header text",
        "default": "Skapa din egna 3 stegs rutin",
        "info": "Title for three steps guide",
        "placeholder": "Skapa din egna 3 stegs rutin"
      }
    ]
  }
{% endschema %}