<a href="{{ product.url | within: collection }}">
  <div>
    <img class="product-card-image" src="{{ product.featured_media.preview_image | img_url: '1000x'}}">
  </div>
</a>
<div class="product-card-text-container">
  <a href="{{ product.url | within: collection }}">
    <h4 class="link-hover-opacity-text">{{product.vendor}}</h4>
    <h4 class="small-header link-hover-opacity-text" style="white-space: 
      nowrap;overflow: hidden;text-overflow: ellipsis;">
    {{product.title}}
    </h4>
  </a>
  <h4 class="small-header">{{ product.price | money_without_trailing_zeros }}</h4>
  <div class="">
    <ul>
      {%for property in product.metafields.Special%}
        <li>- {{ property | last }}</li>
      {%endfor%}
    </ul>
  </div>
</div>
<button class="prod-collection-button">Lägg till</button>