<a href="{{ product.url | within: collection }}">
  <div>
    <img class="product-card-image" src="{{ product.featured_media.preview_image | img_url: '1000x'}}">
  </div>
</a>
<div class="product-card-text-container">
  <a href="{{ product.url | within: collection }}">
    <div style="width:100%">
      <h4 class="link-hover-underline product-vendor-text" style="display:inline-block;">{{product.vendor}}</h4>
    </div>
    <h4 class="product-card-info-text link-hover-underline" style="white-space: 
      nowrap;overflow: hidden;text-overflow: ellipsis;">
    {{product.title}}
    </h4>
  </a>
  <h4 class="product-card-info-text">{{ product.price | money_without_trailing_zeros }}</h4>
  <div class="">
    <ul>
      {%for property in product.metafields.Special%}
        <li>- {{ property | last }}</li>
      {%endfor%}
    </ul>
  </div>
</div>
{% form 'product', product %}
  <input type="hidden" name="return_to" value="back" />
  <button class="prod-collection-button">Lägg till</button>
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
{%endform%}