<!-- /templates/article.liquid -->
{% comment %}
  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/my-post?comment=3721372
{% endcomment %}

{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<article itemscope itemtype="http://schema.org/Article">

  {% section 'article-template' %}


{% assign current_tags = article.tags %}
{% assign count = 3 %}
{% assign dot_count = 0%}
  <div class="article-rec-wrapper">
    <div class="line-separator">
      <h3>Related articles</h3>
    </div>
    <div class="article-rec-container">
    {% for rec_articles in blog.articles%}

      {% if count == 0 %}
        {% break %}
      {% endif%}

      {%if rec_articles.title == article.title%}
        {% continue %}
      {%endif%}

      {% for tag in current_tags%}

        {% if rec_articles.tags contains tag %}


          <div class="medium-up--one-third rec-card-wrapper fade"> 
            <div class="article-slider-card">
              {% assign rec_articles_img_url = rec_articles.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <a  href="{{ rec_articles.url }}" >
                <img class="article-image-radius image-full-width lazyload" src="{{ rec_articles.image.src | img_url: '740x'}}"
                alt="{{rec_articles.image.alt}}"
                data-src="{{ rec_articles_img_url}}"
                data-widths="[540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ rec_articles.image.aspect_ratio }}"
                data-sizes="auto">
                <h4 class="medium-header">{{rec_articles.title}}</h4>
              </a>
            </div>
          </div>

          {% assign count = count | minus: 1 %}
          {% assign dot_count = dot_count | plus: 1%}
          {%break%}
        {%endif%}

      {%endfor%}

    {%endfor%}
    </div>
    <div class="small-down-show slider-dots-container">
      {% for i in (1..dot_count) %}
        <span class="dot" onclick="currentSlide({{ forloop.index }})"></span> 
      {% endfor %}
    </div>
</div>


<script>
    var slideIndex = 1;

    if(window.innerWidth < 1000 ){
      showSlides(slideIndex);
    }

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function setupSlider(){
      if(window.innerWidth < 1000 ){
        showSlides(slideIndex);
      }else{
        showCards();
      }
    }

    function showCards(){
      var slides = document.getElementsByClassName("rec-card-wrapper");
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "block";  
      }
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("rec-card-wrapper");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" dot-active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " dot-active";
    }

    window.onresize = setupSlider;
  </script>






  {% if blog.comments_enabled? and number_of_comments > 0 %}
    <div class="comments-wrapper">
      <div class="page-width">
        <div class="grid">
          <div class="grid__item medium-up--push-one-twelfth">
            <h3 class="h4">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>
          </div>
        </div>

        {% paginate article.comments by 5 %}

          {% comment %}
            If a comment was just submitted, show it with the appropriate success message.
          {% endcomment %}
          <div id="comments" class="grid">

            {% if comment and comment.status and paginate.current_page == 1 %}
              <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
                <div class="form-success form-success--comment">
                  {% if blog.moderated? and comment.status != 'published' %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if number_of_comments > 0 %}
              {% if comment and comment.status != 'published' %}
                {% include 'comment' %}
              {% endif %}

              {% for comment in article.comments %}
                {% include 'comment' %}
              {% endfor %}
            {% endif %}

            {% if paginate.pages > 1 %}
              <div class="grid__item">
                {% include 'pagination' %}
              </div>
            {% endif %}
          </div>
        {% endpaginate %}
      </div>
    </div>
  {% endif %}

  {% if blog.comments_enabled? %}
    <div class="comments-form-wrapper">
      <div class="page-width">
        <div class="grid">
          <div class="grid__item medium-up--push-one-twelfth">
            <h3 class="comments-form__title h4">{{ 'blogs.comments.title' | t }}</h3>
          </div>

          {% form 'new_comment', article %}

            <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
              {{ form.errors | default_errors }}
            </div>

            <div class="grid__item medium-up--five-twelfths medium-up--push-one-twelfth">
              <label for="CommentAuthor" class="label--hidden">{{ 'blogs.comments.name' | t }}</label>
              <input type="text" name="comment[author]" id="CommentAuthor" class="{% if form.errors contains 'author' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}">
            </div>

            <div class="grid__item medium-up--five-twelfths medium-up--push-one-twelfth">
              <label for="CommentEmail" class="label--hidden">{{ 'blogs.comments.email' | t }}</label>
              <input type="email" name="comment[email]" id="CommentEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
            </div>

            <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
              <label for="CommentBody" class="label--hidden">{{ 'blogs.comments.message' | t }}</label>
              <textarea name="comment[body]" id="CommentBody" class="{% if form.errors contains 'body' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
            </div>

            <div class="grid__item medium-up--push-one-twelfth">
              <input type="submit" class="btn btn--input" value="{{ 'blogs.comments.post' | t }}">
            </div>

          {% endform %}

          {% if blog.moderated? %}
            <div class="grid__item medium-up--push-one-twelfth">
              <p class="comments__moderated text-small">{{ 'blogs.comments.moderated' | t }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</article>
